
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
}

/*///////////////////// General Styles /////////////////////*/
body {
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #434455;
}

.section-tilte {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
    }

/*/////////////////// Container ///////////////////*/
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*///////////////////// Header /////////////////////*/

.site-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66 , 0.08);
}

.site-header-container {
    display: flex;
    justify-content: space-between;
}

.main-navigation {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
    margin-right: 76px;
}

.menu-list {
    display: flex;
    gap: 40px;
}

.header-logo-color {
    color: #2e2f42;
}

.menu-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2e2f42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu-item {
    position: relative;
}

.first {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background: #404bbf;
    border-radius: 2px;
    left: 0;
    bottom: -1px;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

.address-list {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    gap: 40px;
}

.address-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}

/*///////////// Hero Section /////////////*/

.hero-section {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)), url(../images/hero-section/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;
}

.hero-title {
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    text-align: center;
}

.main-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    background: #4d5ae5;
    border: none;
    border-radius: 4px;
    padding-left: 32px;
    padding-right: 32px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
    background: #404bbf;
}

/*////////////// Benefits Section //////////////*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.our-benefits-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.our-benefits-list-item {
    flex: 0 0 calc((100% - 72px) / 4); 
    max-width: calc((100% - 72px) / 4);
}

.container-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
}

.our-benefits-icon {
    margin-bottom: 20px;
    width: 64px;
    height: 64px;
}
.our-benefits-feature {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.our-benefits-description {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*/////////////////////////// Team Section ///////////////////////////*/
.our-team-section {
    padding-top: 120px;
    padding-bottom: 120px;
    background: #f4f4fd;
}

.our-team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.our-team-list .our-team-member:first-child {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
}


.our-team-member {
    background: #fff;
}

.image-description {
    padding-top: 32px;
    padding-bottom: 32px;
}

.social-media-team {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-media-team-item {
    width: 40px;
    height: 40px;
}

.social-media-team-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-team-link:hover,
.social-media-team-link:focus {
    background-color: #404bbf;
}

.social-media-svg {
    fill: #f4f4fd;
}

.team-info {
    padding: 32px 0;
}

.team-names {
    margin-bottom: 8px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-role {
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background: #fff;
    margin-bottom: 8px;
}

/*///////////////////////// Portfolio Section /////////////////////////*/


.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px 
    rgba(46, 47, 66, 0.16), 0px 2px 1px 
    rgba( 46, 47, 66, 0.08);
    transform: translateY(0%);
}

.image-container {
    position: relative;
    overflow: hidden;
}

.portfolio-item img {
    display: block;
    width: 100%;
    height: auto;
}

.div-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-item-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-list-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-item:hover .portfolio-hidden-text {
    transform: translateY(0);
}

.portfolio-hidden-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/*///////////////////////////// Footer /////////////////////////////*/
footer {
    background: #2e2f42;
    color: #f4f4fd;
}

.main-footer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-first {
    margin-right: 120px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-color {
    color: #f4f4fd;
}

.footer-main-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.social-media {
    margin-right: 80px;
}

.social-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.social-media-list-footer {
    display: flex;
    gap: 16px;
}

.social-media-item-footer {
    width: 40px;
    height: 40px;
}

.social-media-link-footer {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-link-footer:hover,
.social-media-link-footer:focus {
    background-color: #31d0aa;
}

.social-media-icon-footer {
    fill: #f4f4fd;
}

.subscribe-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.subscribe-form {
    display: flex;
    gap: 24px;
}

.subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.subscribe-input::placeholder {
    color: #ffffff;
}

.subscribe-button {
    font-family: "Roboto", sans-serif;
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.subscribe-svg {
    margin-left: 16px;
    fill: #fff;
}

/* ==========================BACKDROP STYLES================== */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
}
/* ==========================MODAL STYLES================== */

.modal {
    padding: 72px 24px 24px 24px;
    position: absolute;
    width: 408px;
    min-height: 584px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
}

.button-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    fill: #2e2f42;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    padding-left: 0;
    padding-right: 0;
    line-height: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover,
.button-close:focus {
    background-color: #404bbf;
    border: none;
}

.button-close-item {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover,
.button-close:focus {
     fill: #ffffff;
}
/* ==========================Review form================== */

.review-from-field-wrapper {
    margin-bottom: 8px;
}

.review-form-description {
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;
}

.review-from-field-last-wrapper {
    margin-bottom: 16px;
}

.review-form-field-label {
    display: block;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
margin-bottom: 4px;
}

.review-form-input-wrapper {
    position: relative;
}

.review-form-field-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-input:focus {
    border-color: #4d5ae5;
    outline: transparent;
}

.review-form-input:focus + .review-form-field-icon {
    fill: #4d5ae5;
}

.review-form-message {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
color: rgba(46, 47, 66, 0.4);
background-color: transparent;
outline: transparent;
width: 100%;
height: 120px;
resize: none;
padding: 8px 16px;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-message::placeholder {
color: rgba(46, 47, 66, 0.4);
}

.review-form-message:focus {
    border-color: #4d5ae5;
    outline: transparent;
}

.review-from-checkbox-wrapper {
    margin-bottom: 24px;
}

.review-from-privacy-checkbox:checked + 
.review-form-checkbox-label .review-form-own-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;

}

.review-from-privacy-checkbox:focus + 
.review-form-checkbox-label .review-form-own-checkbox {
    outline: 2px solid rgba(0, 0, 255, 0.5);
}

.review-form-checkbox-label {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}

.review-form-own-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms 
    cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-link {
line-height: 1.33;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
}

.review-from-submit-button {
    display: block;
    min-width: 169px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
     border: none;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #fff;
    cursor: pointer;
}